body{
    background-color:#ed476b;
}
button{
    border-radius: 10px;
}
#heading{
    background-color:#FEE715;
}
#credit{
text-align: center;
}
#title{
    text-align: center;
}
#nav{
    background-color: black;
    margin: 0;
    padding: 0;
}
